<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"></meta>
        <title>ListaVIP</title>
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
    </head>
    <body>


        <div class="container">
            <div id="listaDeConvidados">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Nome</th>
                    </tr>
                    </thead>
                    <tr th:each="convidado : ${convidados}">
                        <td><span th:text="${convidado.nome}"></span></td>
                        <td><span th:text="${convidado.email}"></span></td>
                        <td><span th:text="${convidado.telefone}"></span></td>
                    </tr>
                </table>
            </div>

            <hr/>

            <form action="salvar" method="post">
                <div class="form-group">
                    <label for="nome">Nome</label> <input type="text"
                                                          class="form-control" id="nome" name="nome" placeholder="Nome" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label> <input type="email"
                                                            class="form-control" id="email" name="email" placeholder="Email" />
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone</label> <input
                        type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone" />
                </div>
                <button type="submit" class="btn btn-success">Convidar</button>
            </form>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>